<% layout('layouts/boilerplate') %>
    <h1 class="text-center">Edit Product</h1>
    <form class="needs-validation" action="/s/stores/<%= id %>/products/<%= product._id %>?_method=PUT" method="POST"
        enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label class="form-label" for="product-name">Product Name</label>
            <input class="form-control" type="text" name="product[name]" id="product-name" value="<%= product.name %>"
                required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a product name
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="product-quantity">Quantity</label>
            <input class="form-control" type="text" name="product[quantity]" id="product-quantity"
                value="<%= product.quantity %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a quantity
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="product-price">Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input name="product[price]" id="product-price" type="text" class="form-control" placeholder="0.00"
                    aria-label="Amount (to the nearest dollar)" value="<%= product.price %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a price
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="product-description">Description</label>
            <textarea class="form-control" name="product[description]" id="product-description"
                required><%= product.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a description
            </div>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Add Images</label>
            <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
        </div>
        <div class="mb-3 text-center">
            <% product.images.forEach(function(img, i) { %>
                <img crossorigin="anonymous" src="<%= img.thumbnail %>" class="img-thumbnail" alt="product-image">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                </div>
                <label for="image-<%= i %>">Delete</label>
                <% }) %>
        </div>
        <button class="btn btn-success me-3">Update</button><a class="btn btn-danger"
            href="/s/stores/<%= id %>/products/<%= product._id %>">Cancel</a>
    </form>