<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1 class="text-center">All Stores</h1>
<% for (let store of stores) { %>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img crossorigin="anonymous" src="<%= store.logo %>" class="img-fluid rounded-start" alt="store logo">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title"><%= store.name %></h3>
                <a class="btn btn-primary mb-3" href="/s/stores/<%= store._id %>">View Store</a>
                <h5 class="card-text"><small class="text-body-secondary">Brand: <%= store.seller.username %></small>
                </h5>
            </div>
        </div>
    </div>
</div>

<% } %>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const stores = { features: <% - JSON.stringify(stores) %> };
</script>
<script src="/javascripts/clusterMap.js"></script>